version: "3.8"
services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: la_fine_equipe_pg
    environment:
      POSTGRES_DB: La-Fine-Equipe
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
